In [3]:
import pandas as pd

In [123]:
x = pd.ExcelFile("evaluation tool.xlsm")
s = x.sheet_names[1]
p = x.parse(s)
p.drop(p.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]], axis = 1)

,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B,C,D,E,F,G,H,I,L,NaN,...,A,B,C,D,E,F,G,H,I,L
3,B2,A3,D2,A3,A2,A3,H2,1,A4,NaN,...,NaN,B3,A3,D3,E2,F3,A5,H2,I2,A3
4,NaN,B2,D2,B2,B2,B3,1,B2,B3,NaN,...,NaN,NaN,B3,D2,1,1,B3,1,1,B5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,NaN,NaN,NaN,NaN,NaN,F5,F3,F3,F5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,F3,1,1,F2
129,NaN,NaN,NaN,NaN,NaN,NaN,H3,I3,L2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H3,I3,L2
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,H3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,H2
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I2
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
a