In [3]:
import pandas as pd

In [143]:
x = pd.ExcelFile("evaluation tool.xlsm")
s = x.sheet_names[1]
p = x.parse(s)
t= p.drop(p.columns[[0, 1, 2, 3, 4, 5, 6, 7]], axis = 1)
t.drop(p.index[0:2])

,EVALUATOR 1,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
2,NaN,A,B,C,D,E,F,G,H,I,...,A,B,C,D,E,F,G,H,I,L
3,A,NaN,B2,A3,D2,A3,A2,A3,H2,1,...,NaN,B3,A3,D3,E2,F3,A5,H2,I2,A3
4,B,NaN,NaN,B2,D2,B2,B2,B3,1,B2,...,NaN,NaN,B3,D2,1,1,B3,1,1,B5
5,C,NaN,NaN,NaN,D4,E3,F3,G2,H4,I3,...,NaN,NaN,NaN,D5,E3,F3,1,H3,I3,1
6,D,NaN,NaN,NaN,NaN,D2,D3,D4,D2,D2,...,NaN,NaN,NaN,NaN,D2,D2,D3,D2,D2,D5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,F,NaN,NaN,NaN,NaN,NaN,NaN,F5,F3,F3,...,NaN,NaN,NaN,NaN,NaN,NaN,F3,1,1,F2
129,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H3,I3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H3,I3,L2
130,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,H2
131,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I2
132,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
a